body {
    font-family: 'Roboto', sans-serif;
}

.content-container {
    padding-top: 55px;
    padding-bottom: 55px;
}

.block-divider {
    width: 35px;
    height: 5px;
    border: 0;
    background-color: #bf9232;
}

.button-postion {
    text-align: center;
}

.first-album{
    background-image: url(../images/the-miseducation-of-lauryn-hill.jpg);
}

.second-album {
    background-image: url(../images/mtv-unplugged-no-20.jpg);
}

/*-------------------------------Page Titles*/

.page-title {
    margin-bottom: 0;
    border-bottom: 0;
    text-align: center;
}

.page-title h2 {
    margin-top: 0;
}

/*-------------------------------Navbar*/

.navbar-nav {
    text-align: right;
}

.nav-item a {
    text-transform: uppercase;
    font-size: 25px;
}

.nav-container {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 0;
    padding-right: 0;
    z-index: 1;
}

.navbar {
    position: fixed;
    margin-bottom: 0;
    border: 0;
    width: 100%;
    background-color: transparent;
}

.navbar button:focus {
    outline-color: pink;
}

.navbar-toggler {
    border: 0;
}


.navbar-toggler-icon {
    width: 2.5em;
    height: 2.5em;
}

.navbar .navbar-nav a {
    font-weight: bold;
}

/*-------------------------------Jumbotron*/

.heading-container {
    height: 100vh;

    background: url(../images/hill-lauryn-540.jpg) no-repeat top center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.jumbotron {
    background-color: transparent;
}

.jumbotron-heading {
    color: #FFBB06;
    font-weight: ;
    font-size: 60px;
}


/*-------------------------------About*/

.about-container {
    padding-left: 15%;
    padding-right: 15%;
    text-align: left;
    margin-bottom: 40px;
    
    background-color: rgba(70, 50, 13, 0.5);

    /*background-image: url(../images/hill-lauryn-506.jpg);
    background-position: center;
    background-size: cover;*/

    /*width: 100vw;*/

}

/*-------------------------------Tour*/

.tour-container table {
    margin-left: 25px;
    margin-top: 16px;
}

/*-------------------------------Music & Videos*/

.musicvideo-container {
    background-color: rgba(70, 50, 13, 0.5);
}

.album-container {
    background-position: center;
    background-size: cover;
    border-radius: 8px;
    
    width: 150px;
    height: 150px;
    margin: 15px auto;
}

.logo-wrapper {
    padding-top: 40%;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
}

.video-container {
    padding-left: 10px;
    padding-right: 20px;
    border-radius: 20px;
}

/*@media (min-width: 768px) {
    .logo-container-height {
        height: 100px;
    }
}*/

.carousel-control-prev,
.carousel-control-next {
    top: 50px;
    bottom: 50px;
}

