/*----------------------------------------Special paddings/ margins/ text */

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.content-container {
    padding-top: 55px;
    padding-bottom: 55px;
}

.uppercase {
    text-transform: uppercase;
}

.center {
    text-align: center;
}


.block-divider {
    width: 35px;
    height: 5px;
    border: 0;
    background-color: pink;
}

a:hover {
    text-decoration: none;
}

/*----------------------------------------Color */

.white-text {
    color: white;
}

.block-divider-color {
    background-color: #bf9232;
}

.navbar button:focus {
    outline-color: #bf9232;
    border-radius: 8px;
}

.navbar-toggler-icon:hover {
    background-color: rgba(191, 146, 50, 0.5);
}

.name-color-theme {
    color: rgba(191, 146, 50, 0.5);
}

.bct2 {
    background-color: black;
}

.background-color-theme {
    background-color: rgba(70, 50, 13, 0.5);
}

.btn-outline-info {
    color: white;
    border-color: #bf9232;
}
    
.btn-outline-info:hover {
    background-color: #bf9232;
    border-color: #bf9232;
}

.btn-outline-info:click  {
    background-color: #bf9232b3;
    border-color: #bf9232b3;
    
}

.btn-primary {
    color: #fff;
    background-color: black;
    border-color: black;
}

.btn-primary:hover {
    color: black;
    background-color: #bf9232;
    border-color: #bf9232;
}


/*----------------------------------------Album cover art*/

.first-album{
    background-image: url(../images/the-miseducation-of-lauryn-hill.jpg);
}

.second-album {
    background-image: url(../images/mtv-unplugged-no-20.jpg);
}

/*-------------------------------Navbar*/

.navbar-nav {
    text-align: right;
}

.nav-item a {
    text-transform: uppercase;
    font-size: 25px;
}

.nav-container {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 0;
    padding-right: 0;
    z-index: 1;
}

.navbar {
    position: fixed;
    margin-bottom: 0;
    border: 0;
    width: 100%;
    background-color: transparent;
}

.navbar-toggler {
    border: 0;
}


.navbar-toggler-icon {
    border-radius: 8px;
    width: 2.5em;
    height: 2.5em;
}

.navbar .navbar-nav a {
    font-weight: bold;
}

/*-------------------------------Jumbotron*/

.heading-container {
    padding: 0;
    height: 90vh;

    background: url(../images/hill-lauryn-540.jpg) no-repeat top center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.opaque-overlay {
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.jumbotron {
    background-color: transparent;
}

.title-font {
    font-size: 3.5em;
    margin-top: 3em;
    font-weight: bold;
}

@media (min-width: 768px) {
    .title-font {
        font-size: 84px;
        margin-top: 100px;
    }
}


    
/*-------------------------------About*/

.about-container {
    padding-left: 15%;
    padding-right: 15%;
    text-align: left;
}

.about-text p span {
    color: blue;
}

.about-wrapper {
    /*background-image: url(../images/hill-lauryn-506.jpg);
    background-position: center;
    background-size: cover;*/
    
    background: url(../images/hill-lauryn-506.jpg) no-repeat top center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


/*-------------------------------Tour*/

.tour-container {
    text-align: center;
}

.tour-container table {
    margin-top: 16px;
}

/*-------------------------------Music & Videos*/

.musicvideo-container {
    background-color: rgba(70, 50, 13, 0.5);
}

.album-container {
    background-position: center;
    background-size: cover;
    border-radius: 8px;
    
    width: 250px;
    height: 250px;
    margin: 15px auto;
}

@media (min-width: 992px) {
    .album-container {
        width: 450px;
        height: 450px;    
        
    }
}

.music-link {
    padding: 5%;
    text-align: center;
}

.music-link img {
    height: 52px;
}

@media (min-width: 992px) {
    .music-link img{
        height: 62px;
    }
}

.social-links-mv li a i {
    margin: 0 20px;
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: black;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links-mv li a i:hover {
    color: black;
    background: rgba(191,146,50,0.7);
}

@media (min-width: 992px) {
    .social-links-mv li a i {
        width: 62px;
        height: 62px;
        padding: 24px 0;
        font-size: 26px;
        line-height: 14px;
    }
}


.video-container {
    margin: 12px 0;
}

@media (min-width: 768px) {
    .video-container {
        margin: 12px 36px;
    }
}

.carousel-control-prev,
.carousel-control-next {
    top: 50px;
    bottom: 50px;
}

/*-------------------------------Contact*/

.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
}

.contact-container input {
    margin-bottom: 15px;
}

button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    color: #fafafa;
    background-color: #bf9232;
}

button[type="submit"]:hover {
    background-color: rgba(191,146,50,0.7);
}

/*-------------------------------footer*/

#footer {
    padding: 25px;
}

footer {
    min-height: 120px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: rgba(191,146,50,0.7);
}
